*{
    margin:0px;
    padding:0px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navigation{
    display:flex;
    justify-content: space-between;
   
}
li{
    list-style:none;
}
.navigation h2{
    padding:10px 10px;
   color:orange;
   
}
.navigation button{
    background-color: rgb(124, 242, 124);
    border:0px;
    border-radius: 5px;
    padding:5px;    
}
ul{
    display:flex;
    padding:10px 10px;
    gap:10px;
}
li a{
    padding:10px 10px;
    color:black;
    margin-top:3px;
}
li a:hover{
    color:green;
}

.second img{
    width:100%;
    height:550px;
}

.third{
    display:grid;
    grid-template-columns: 624px 624px;
    grid-template-rows: 1fr;
    width:100%;
    height:530px;
    margin-top:-70px;
}

.vegetables{
    width:550px;
    grid-area:1/1/2/2;
    margin:150px 150px;
    background-color: rgb(168, 220, 168);
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;

}
.vegetables fieldset{
    padding:10px;
    border-radius: 10px;
    width:420px;
    border:3px solid white;
}
.vegetables legend{
position:absolute;
}
.vegetables button{
    padding:10px;
    border:3px solid white;
    color:white;
    background-color: rgb(44, 165, 44);
    border-radius: 15px;
}
.fruits{
    width:550px;
    grid-area:1/2/2/3;
    margin:150px 150px;
    background-color: rgb(239, 213, 98);
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    
}
.vegetables h3,p{
    padding:10px;
}
.vegetables h3{
    color:rgb(4, 74, 4);
}

.fruits h3{
    color:rgb(159, 105, 4);
}
.fruits h3,p{
    padding:13px;
}
.fruits fieldset{
    padding:10px;
    border-radius: 10px;
    width:250px;
    border:3px solid white;
}
.fruits legend{
position:absolute;
}
.fruits button{
    padding:10px;
    border:3px solid white;
    color:white;
    background-color: rgb(246, 176, 45);
    border-radius: 15px;
}

.fourth{
    background-color: rgb(89, 224, 89);
    margin-top:-50px;
}
.fourth img{
    width:450px;
    height:400px;
}
.fourth h3,p{
    padding-top:10px;
    text-align: center;
    color:white;
}

.fifth p{
    color:black;
}

.fifth h2,h3{
    text-align: center;
    padding-bottom: 20px;
}

.fifth{
    padding-top:20px;
}

.fifth table{
    display:flex;
    justify-content:space-around;
}

.fifth td{
    border:2px solid lightgray;
}

.fifth p{
    background-color: lightgray;
}
.sixth{
    display:flex; 
    justify-content: space-evenly;
    align-items: center;
    margin-top:40px;
    padding:20px;
    background-color:rgb(89, 224, 89) ;
}
.one{
    display:flex;
    flex-direction: column;
}
.sixth p{
    color:black;
    text-align: center;
}
.sixth h1{
    color:rgb(4, 86, 4);
    text-align: center;
}